
.boxes{
width: 1000px;
height: 500px;

border: 3px solid black;
border-radius: 40px;
 background-color: #101828;
 color: azure;

  margin-left: 180px;
margin-top: 60px;
 margin-bottom: 110px;

  padding-left: 20px;
  padding-right: 20px;
  

};














